<ion-header>

  <ion-navbar color="primary">
    <ion-title>Manage</ion-title>
    <!--<ion-buttons end>	
	    <button ion-button clear (click)="updateStack()">
	    	Save
	    </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>

<ion-content padding>
	<div class="title"><strong>Manage Stack:</strong> {{ stack.name }}</div>	
	<ion-list no-lines>
		<ion-item class="add-parent" color="secondary" (tap)="changeAddItemState()">
			<ion-icon *ngIf="!addItem" name="arrow-dropright" item-end></ion-icon>
			<ion-icon *ngIf="addItem" name="arrow-dropdown" item-end></ion-icon>
			Add Item
		</ion-item>
		<div [@grow]="addItemState" class="add-children">
			<ion-item (tap)="addNewStackItem('Tracker')">
				Add Tracker
				<ion-icon item-right name="ios-add-circle-outline"></ion-icon>
			</ion-item>
			<ion-item (tap)="addNewStackItem('Checklist')">
				Add Checklist Item
				<ion-icon item-right name="ios-add-circle-outline"></ion-icon>
			</ion-item>
		</div>
	</ion-list>
	<ion-list no-lines class="stack-items">
		<ion-item class="tracker-type-header" (tap)="changeTrackerState()">
			Tracker Items
			<ion-icon *ngIf="!showTracker" name="arrow-dropright" item-end></ion-icon>
			<ion-icon *ngIf="showTracker" name="arrow-dropdown" item-end></ion-icon>
		</ion-item>
		<div [@grow]="trackerState">
			<ion-item-sliding *ngFor="let item of stack.trackerItems" #slidingItem>
				<ion-item>
					{{item.name}}
					<ion-icon class="icon-more" item-right name="more"></ion-icon>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="secondary" (click)="editItem(item, slidingItem)"> 
						<ion-icon name="md-create"></ion-icon>
						Edit
					</button>
					<button ion-button color="danger" (click)="removeItem(item, slidingItem, 'tracker')">
						<ion-icon name="trash"></ion-icon>
						Delete
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</div>
		<ion-item class="tracker-type-header" (tap)="changeChecklistState()">
			Checklist Items
			<ion-icon *ngIf="!showChecklist" name="arrow-dropright" item-end></ion-icon>
			<ion-icon *ngIf="showChecklist" name="arrow-dropdown" item-end></ion-icon>
		</ion-item>
		<div [@grow]="checklistState">
			<ion-item-sliding *ngFor="let item of stack.checklistItems" #itemSliding>
				<ion-item>
					{{item.name}}
					<ion-icon class="icon-more" item-right name="more"></ion-icon>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="secondary" (click)="editItem(item, itemSliding)"> 
						<ion-icon name="md-create"></ion-icon>
						Edit
					</button>
					<button ion-button color="danger" (click)="removeItem(item, itemSliding, 'checklist')">
						<ion-icon name="trash"></ion-icon>
						Delete
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</div>
	</ion-list>
</ion-content>
