page-login {
	
	ion-list {
		margin-top:10px !important;
		color: color($colors, light, base) !important;
	}
	ion-list ion-item {
		margin-bottom: 10%;
	}
	.errors{
		font-size: 14px;
		margin: 10px 15px;
		color: color($colors, danger, base);
	}
	.close-button{
		//padding: 0px 15px !important;
		margin-top: 0px !important;
		padding-top: 0px !important;
	}
	ion-list ion-item{
		border-bottom: 1px solid black !important;
	}
}
