.md page-landing .landingButtons{
	margin-top:65%;	
}
.ios page-landing .landingButtons{
	margin-top:72%;
}

page-landing {
	ion-content{
		background-image: url(../assets/img/stary-background.jpg);
		background-size: cover;
	}
	h1, h4 {
		color: white;
	}
	.logo {
		width: 50%;
		margin-top: 38%;
		color: white;
	}
	.title{
		color: white;
		margin-top: -10%;
		margin-left: 15%;
		font-size: 40px;
	}
	.hidden {
		display: none!important;
	}
	.topButton {
		color: black;
		margin-bottom: 5%;
		border-radius: 0px;
		width: 80%;
		margin-left: 10%;
	}

	.bottomButton {
		border: 2px solid white !important;
		color: white !important;
		border-radius: 0px;
		width: 80%;
		margin-left: 10%;
	}

	#agreementText {
		color: white;
		position: fixed;
		width: 100%;
		height: 20px;
		left: 0px;
		bottom: 50px;
		font-size: 10px;
		padding: 10px;
		opacity: .6;
		margin: 5px 5px 0px 0px;
	}
}
