page-edit {
    ion-content{
        width: 95%;
        height: 80%;
        margin-left: 2.5%;
        margin-top: 20%;
        background-color: map-get($colors, secondary) !important;
        opacity: .99;
        color: white !important;
    }
    ion-content .header{
        margin-bottom: 20px;
    }
    ion-content .header .title{
        font-size: 20px;
        //color: white;
        text-decoration: bold;
        text-align: center;
        margin-top: 22px;
        margin-bottom: 10px;
    }
    ion-content .header .cancel{
        font-size: 18px;
        color: white;
        margin:0px !important;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    ion-content .header .save{
        font-size: 18px;
        color: white;
        margin: 0px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-weight: bold;
    }
    ion-content ion-list{
        margin-top: 30px !important;
    }
    ion-content ion-list ion-item{
        width: 90% !important;
        margin-left: 5% !important;
        //background-color: map-get($colors, secondary) !important;
    }
    ion-content .type-header{
        text-align: center;
        font-size: 20px;
    }
}
