page-current {
	ion-title img{
		width: 14%;
	}
	ion-content .title {
		font-size: 25px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
    	border-bottom: 1px solid #000000;
	}
	.close-icon{
		margin-right: 12px !important;
	}
	.stack-items{
		border: 1px solid color($colors, secondary, base);
		border-top: none !important;		
	}
	.checkmark-icon{
		color:map-get($colors, secondary);
	}
	.not-found-icon{
		color:map-get($colors, danger);
	}
	.tracker-type-header{
		border-bottom: 1px solid white !important;
		background-color: map-get($colors, secondary) !important;
		color: white;
	}
	.no-stacks{
		//text-align: center;
		font-size: 30px;
	}
}
