<ion-header>
  <ion-navbar color="primary">
  	<ion-buttons left>
	  	<button ion-button menuToggle>
	  		<ion-icon class="menu-icon" name="menu"></ion-icon>
	  	</button>
	</ion-buttons>
	<ion-buttons right>
		<button ion-button (click)="scan(true)">Scan</button>
	</ion-buttons>
    <ion-title><img src="assets/img/Stack_Icon_Logo_Circle.svg"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="title"><strong>Current Stacks</strong></div>
	<ion-item no-lines *ngIf="!isCurrentStack()">No Current Stacks</ion-item>
	<ion-list no-lines class="stack-items" *ngIf="isCurrentStack()">
		<div *ngFor="let stack of getCurrentStacks()">
			<!--<ion-item-sliding *ngFor="let item of stack.trackerItems" #slidingItem>-->
				<ion-item class="tracker-type-header" (tap)="changeState(stack)">
					{{ stack.name }}
					<ion-icon *ngIf="!stack.showItems" name="arrow-dropright" item-end></ion-icon>
					<ion-icon *ngIf="stack.showItems" name="arrow-dropdown" item-end></ion-icon>
				</ion-item>
				<!--<ion-item-options side="right">
					<button ion-button color="secondary" (click)="scan()"> 
						<ion-icon name="md-create"></ion-icon>
						Scan
					</button>
				</ion-item-options>
			</ion-item-sliding>-->
			<div [@grow]="stack.currentState">
				<div *ngFor="let item of stack.checklistItems">
					<ion-item>
						<ion-label item-left>{{ item.name }}</ion-label>
						<ion-checkbox item-right [(ngModel)]="item.nearby"></ion-checkbox>
					</ion-item>
				</div>
				<div *ngFor="let item of stack.trackerItems">
					<ion-item no-lines [style.color]="isNearby(item)">
						{{ item.name }}
						<ion-icon item-right *ngIf="foundItem(item)" name="md-checkmark" class="checkmark-icon"></ion-icon>
						<ion-icon item-right *ngIf="foundNoItem(item)" name="md-close" class="not-found-icon"></ion-icon>
					</ion-item>
				</div>
			</div>
		</div>
	</ion-list>
	
	<!-- ***************************************************************************** -->
	<!--
  <div class="title"><strong>Stack:</strong> {{ stackService.currentStack.name }}</div>
  <ion-list no-lines>
		<div *ngFor="let item of stackService.currentStack.checklistItems">
			<ion-item>
				<ion-label item-left>{{ item.name }}</ion-label>
				<ion-checkbox item-right [(ngModel)]="item.nearby"></ion-checkbox>
			</ion-item>
  	</div>
  	<div *ngFor="let item of stackService.currentStack.trackerItems">
			<ion-item [style.color]="isNearby(item)">
				{{ item.name }}
				<ion-icon item-right *ngIf="foundItem(item)" name="md-checkmark" class="checkmark-icon"></ion-icon>
				<ion-icon item-right *ngIf="foundNoItem(item)" name="md-close" class="not-found-icon"></ion-icon>
			</ion-item>
		</div>
  </ion-list>
	<button class="stack-button" ion-button block color="secondary" (click)="scan()">
		Scan
	</button>
	<ion-list>
		<ion-item *ngFor="let device of devices">
			{{ device.name }}
		</ion-item>
	</ion-list>
	-->
</ion-content>
