page-current {
	ion-title img{
		width: 14%;
	}
	ion-content .title {
		font-size: 25px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
    	border-bottom: 2px solid #000000;
	}
	.close-icon{
		margin-right: 12px !important;
	}
	.stack-button{
		//color: black;
	}
	ion-list ion-item{
		border-bottom: .5px solid gray !important;
		margin: 8px 0px !important;
	}
	.checkmark-icon{
		color:map-get($colors, secondary);
	}
	.not-found-icon{
		color:map-get($colors, danger);
	}
}
