page-signup {
    ion-list {
        border-top: none !important;
    }
    ion-list ion-item {
		margin: 5% 10% !important;
		//padding: auto 5% !important;
		width: 80% !important;
		border-bottom: 1px solid black !important;
	}
	ion-list ion-item ion-label{
		color: gray;
	}
    .signup-button{
        color: black;
        margin: 10% auto !important;
        width: 80%;
        border-radius: 0px;
    }
    .logo{
        width: 50%;
        margin-top: 3%;
    }
    .close-button{
		padding: 0px !important;
		margin: 20px 10px !important;
		padding-top: 0px !important;
	}
}
